## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,31.48,97,51,3.00,broken clouds
1,1,Quelimane,MZ,-17.8786,36.8883,76.95,69,40,9.22,scattered clouds
2,2,Asfi,MA,32.2994,-9.2372,71.91,80,16,6.73,few clouds
3,3,Bethel,US,41.3712,-73.4140,68.65,82,75,10.36,broken clouds
4,4,Quatre Cocos,MU,-20.2078,57.7625,71.71,84,100,16.06,moderate rain

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Quelimane,MZ,-17.8786,36.8883,76.95,69,40,9.22,scattered clouds
9,9,Matara,LK,5.9485,80.5353,79.00,88,97,8.50,overcast clouds
11,11,Omboue,GA,-1.5746,9.2618,79.03,79,98,7.20,overcast clouds
12,12,Caravelas,BR,-17.7125,-39.2481,80.38,65,100,3.80,overcast clouds
23,23,Balikpapan,ID,-1.2675,116.8289,76.37,86,71,2.35,broken clouds
25,25,Batticaloa,LK,7.7102,81.6924,84.24,74,100,5.66,overcast clouds
40,40,Faanui,PF,-16.4833,-151.7500,79.20,77,35,22.75,light rain
42,42,Meulaboh,ID,4.1363,96.1285,76.91,87,100,6.69,overcast clouds
44,44,Dingle,PH,10.9995,122.6711,78.08,85,43,3.74,scattered clouds
49,49,Yarada,IN,17.6500,83.2667,80.92,74,75,6.91,mist

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                257
City                   257
Country                256
Lat                    257
Lng                    257
Max Temp               257
Humidity               257
Cloudiness             257
Wind Speed             257
Current Description    257
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Quelimane,MZ,-17.8786,36.8883,76.95,69,40,9.22,scattered clouds
9,9,Matara,LK,5.9485,80.5353,79.00,88,97,8.50,overcast clouds
11,11,Omboue,GA,-1.5746,9.2618,79.03,79,98,7.20,overcast clouds
12,12,Caravelas,BR,-17.7125,-39.2481,80.38,65,100,3.80,overcast clouds
23,23,Balikpapan,ID,-1.2675,116.8289,76.37,86,71,2.35,broken clouds
...,...,...,...,...,...,...,...,...,...,...
702,702,Kutum,SD,14.2000,24.6667,80.96,36,86,22.79,light rain
703,703,Gilgit,PK,35.9221,74.3087,75.85,45,67,2.66,broken clouds
707,707,San Andres,CO,12.5847,-81.7006,82.42,78,75,9.22,broken clouds
708,708,Ambulu,ID,-8.3450,113.6058,76.03,91,90,3.58,overcast clouds
709,709,Natal,BR,-5.7950,-35.2094,88.02,62,40,12.66,scattered clouds

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Quelimane,MZ,76.95,scattered clouds,-17.8786,36.8883,
9,Matara,LK,79.00,overcast clouds,5.9485,80.5353,
11,Omboue,GA,79.03,overcast clouds,-1.5746,9.2618,
12,Caravelas,BR,80.38,overcast clouds,-17.7125,-39.2481,
23,Balikpapan,ID,76.37,broken clouds,-1.2675,116.8289,
25,Batticaloa,LK,84.24,overcast clouds,7.7102,81.6924,
40,Faanui,PF,79.20,light rain,-16.4833,-151.7500,
42,Meulaboh,ID,76.91,overcast clouds,4.1363,96.1285,
44,Dingle,PH,78.08,scattered clouds,10.9995,122.6711,
49,Yarada,IN,80.92,mist,17.6500,83.2667,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
  # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
clean_hotel_df=hotel_df.dropna()
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Quelimane,MZ,76.95,scattered clouds,-17.8786,36.8883,Hotel Flamingo
9,Matara,LK,79.00,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort
11,Omboue,GA,79.03,overcast clouds,-1.5746,9.2618,Hotel Olako
12,Caravelas,BR,80.38,overcast clouds,-17.7125,-39.2481,Pousada dos Navegantes
23,Balikpapan,ID,76.37,broken clouds,-1.2675,116.8289,Swiss-Belhotel Balikpapan
...,...,...,...,...,...,...,...
702,Kutum,SD,80.96,light rain,14.2000,24.6667,Dibbo areaمنطقة دبو
703,Gilgit,PK,75.85,broken clouds,35.9221,74.3087,Tourist Hamlet Gilgit
707,San Andres,CO,82.42,broken clouds,12.5847,-81.7006,Hotel Arena Blanca
708,Ambulu,ID,76.03,overcast clouds,-8.3450,113.6058,Hotel Ambulu Jember
709,Natal,BR,88.02,scattered clouds,-5.7950,-35.2094,Villa Park Hotel | Natal

In [28]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# # 11a. Add a marker layer for each city to the map. 
# marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#  fig.add_layer(heat_layer)
# fig.add_layer(marker_layer)
# 11b. Display the figure