## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Quelimane,MZ,76.95,scattered clouds,-17.8786,36.8883,Hotel Flamingo
1,9,Matara,LK,79.00,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort
2,11,Omboue,GA,79.03,overcast clouds,-1.5746,9.2618,Hotel Olako
3,12,Caravelas,BR,80.38,overcast clouds,-17.7125,-39.2481,Pousada dos Navegantes
4,23,Balikpapan,ID,76.37,broken clouds,-1.2675,116.8289,Swiss-Belhotel Balikpapan

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [191]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df)["City"]=="Fishers"]
vacation_end = vacation_df.loc[(vacation_df)["City"]=="Fishers"]
vacation_stop1 = vacation_df.loc[(vacation_df)["City"]=="Bud"]
vacation_stop2 = vacation_df.loc[(vacation_df)["City"]=="Hamilton"] 
vacation_stop3 = vacation_df.loc[(vacation_df)["City"]=="New Albany"] 
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
159,431,New Albany,US,81.18,broken clouds,38.2856,-85.8241,Hampton Inn New Albany Louisville West

In [192]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start_arr =vacation_start[["Lat","Lng"]].to_numpy(dtype=None)
start_arr
start_tuple = tuple(map(tuple,start_arr))
start = start_tuple[0]
start
end_tuple = tuple(map(tuple,vacation_end[["Lat","Lng"]].to_numpy()))
end = end_tuple[0]
end
stop1_tuple = tuple(map(tuple,vacation_stop1[["Lat","Lng"]].to_numpy()))
stop1 = stop1_tuple[0]
stop1
stop2_tuple = tuple(map(tuple,vacation_stop2[["Lat","Lng"]].to_numpy()))
stop2 = stop2_tuple[0]
stop3_tuple = tuple(map(tuple,vacation_stop3[["Lat","Lng"]].to_numpy()))
stop3 = stop3_tuple[0]
print(f"Start is {start}. end is {end}, stop1 is {stop1}, stop2 is {stop2},stop3 is {stop3}")

Start is (39.9556, -86.0139). end is (39.9556, -86.0139), stop1 is (39.447, -86.1758), stop2 is (39.1834, -84.5333),stop3 is (38.2856, -85.8241)

In [193]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

# Latitude-longitude pairs


fig = gmaps.figure()
starttoend = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(starttoend)
fig

Figure(layout=FigureLayout(height='420px'))

In [194]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,139,Fishers,US,75.22,overcast clouds,39.9556,-86.0139,Hilton Garden Inn Indianapolis Northeast/Fishers
1,139,Fishers,US,75.22,overcast clouds,39.9556,-86.0139,Hilton Garden Inn Indianapolis Northeast/Fishers
2,70,Bud,US,75.22,broken clouds,39.4470,-86.1758,Ted McQuinn Trust
3,380,Hamilton,US,79.75,broken clouds,39.1834,-84.5333,Six Acres Bed & Breakfast
4,431,New Albany,US,81.18,broken clouds,38.2856,-85.8241,Hampton Inn New Albany Louisville West

In [195]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [196]:
# 11a. Add a marker layer for each city to the map.
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=4.0)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))